# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are sumarized

## Some of the popular languages that Data scientist use are:

1. Python
2. SQL
3. R

## Some of the commonly used libraries by Data Scientists include:

1. Matplotlib
2. Pandas
3. NumPy

| Data Science Tools |
|--------------------|
| Apache Spark       |
| Jupyter Notebook   |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# this is a simple arithmetic expression to multiple then add intergers

In [2]:
(3*4) + 5

17

In [3]:
# This will convert 200 minutes into hours by dividing by 60

In [4]:
(200)/60

3.3333333333333335

# **Objectives**
* python
* SQL
* R

## Author
Sharvani Sharma