# Data Science Tools and Ecosystem

In this notebook , data science and ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. NumPy

### Data Science Tools

| Data Science Tools |
|--------------------|
| Apache Spark       |
| Apache Hadoop      |
| Jupyter Notebook   |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
(200)/60

3.3333333333333335

## **Objectives**

* List popular languages for data science
* list popular libraries for data science
* show simple arithematic expressions

## Author
Sharvani Sharma